@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.tsx';
@source '../**/*.ts';

@theme {
    /* Fonty */
    --font-sans: "Oxanium", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, monospace;

    /* Tła */
    --color-base: #050508;
    --color-surface: #0a0a12;
    --color-elevated: #0f0f1a;
    --color-card: #161625;
    --color-hover: #1e1e30;
    --color-border: #1e293b;

    /* Akcent – cyjan */
    --color-accent: #22d3ee;
    --color-accent-light: #67e8f9;
    --color-accent-hover: #06b6d4;
    --color-accent-deep: #0891b2;
    --color-accent-muted: #0e7490;

    /* Tekst */
    --color-text-primary: #f1f5f9;
    --color-text-secondary: #94a3b8;
    --color-text-muted: #475569;
    --color-text-accent: #22d3ee;

    /* Status */
    --color-success: #4ade80;
    --color-error: #f87171;
    --color-warning: #fbbf24;
    --color-info: #818cf8;

    /* cienie */
    --shadow-user-menu:
        5px 5px 10px 0px rgba(0, 0, 0, 0.61),
        inset -2px -4px 10px 0px rgba(124, 124, 124, 0.06);

    --background-image-user-menu: linear-gradient(
        to bottom,
        var(--color-surface) 0%,
        var(--color-surface) 50%,
        var(--color-elevated) 100%
    );
    --background-image-accent-gradient: linear-gradient(
        135deg,
        var(--color-accent-light) 0%,
        var(--color-accent) 40%,
        var(--color-accent-deep) 100%
    );
}

@layer base {
    html {
        color-scheme: dark;
    }

    body {
        background-color: var(--color-base);
        color: var(--color-text-primary);
        font-family: var(--font-mono);
    }
    @layer components {
        .text-gradient {
            @apply font-bold;
            background: linear-gradient(
                90deg,
                #94a3b8d2 0%,
                #e2e8f0 40%,
                #47556888 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            display: inline-block;
        }
    }
}
